
.secondaryTextContactUs {
    color: rgb(140 139 139);
    font-size: 1.2rem;
  }

  .orangeTextContactUs{
    color: orange;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: -0.7rem;
  /* margin-left: 2rem; */
  }
  
  .primaryTextContactUs{
    color: #1f3e72;
    font-weight: bold;
    font-size: 2rem;
    /* margin-left: 2rem; */
  }

.c-container{
    justify-content: space-between;
}

.c-container>div{
    flex: 1;
}

.c-right{
    width: 100%;
    border: 15px;
    border-color: #1f3e72;
    /* height: 20rem; */
}

.c-left{
    gap: 0.5rem;
}

.contactModes{
    margin-top: 2rem;
    gap: 1rem;
}

.contactModes .row{
    gap: 1.5rem;
}

.mode{
    width: 16rem;
    padding: 1rem;
    border: 0.8px;
    border-radius: 5px;
    gap: 1rem;
    transition: all 300ms ease-in;
}

.mode .button{
    width: 100%;
    background: var(--lightBlue);
    color: var(--blue);
    font-size: 0.9rem;
    font-weight: 600;
}

.mode .button >button{
    font-weight: 600;
}

.mode >:nth-child(1){
    width: 100%;
    gap: 1.6rem;
}

.mode .detail .primaryText{
    font-size: 1.1rem;
    font-weight: 600;
}

.mode:hover{
    scale: 1.1;
    box-shadow: var(--shadov);
}

.mode .button:hover{
    background: var(--blue-gradient);
    color: white;
    scale: 0.8;
}

.c-right .image-container> img{
    border: 6px solid rgb(232 232 232 / 93%);

    object-fit: cover;
    /* height: 35rem; */
}


/* .flexCenter .longer{
    width: 16rem;
    margin-left: 2rem;
} */


@media (max-width: 1024px) {
    .c-container {
      flex-direction: column;
    }
    .c-right {
      justify-content: center;
    }
  }
  @media (max-width: 1024px)
  {
      .contactModes{
          width: 100%;
      }
      .row{
          flex-direction: column;
          width: 100%;
      }
      .mode{
          width: 100%;
      }
  }

  @media (max-width: 640px) {
    .primaryTextContactUs{
        font-size: 1.3rem;
      }
      .orangeTextContactUs{
        font-size: 1.7rem;
      }
      .secondaryTextContactUs{
        font-size: 0.9rem;
      }
  }
    