.orangeTextValue{
    color: orange;
    font-size: 2rem;
    font-weight: 600;
   
  /* margin-left: 2rem; */
}

.primaryTextValue{
    color: #1f3e72;
    font-weight: bold;
    font-size: 2rem;
    /* margin-left: 2rem; */
}

.secondaryTextValue{
    color: rgb(140 139 139);
    font-size: 0.9rem;
}

.v-wrapper{
margin-top: -3rem;
}

.v-container .image-container {
    border: 6px solid rgb(232 232 232 / 93%);
    margin-left: 1rem;
    margin-right: 1.5rem;
    object-fit: cover;

  }
  .v-container > div {
    flex: 1;
  }
  .v-right {
    gap: -0.5rem;
  }
  .accordion {
    margin-top: 1rem;
    border: none;
  }
  .accordionItem {
    background: white;
    border: 0.8px solid rgba(128, 128, 128, 0.143);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 15px;
  }
  
  .accordionItem.expanded {
    box-shadow: var(--shadow);
    border-radius: 6px;
  }
  .accordionButton {
    background: white;
    padding: 1rem;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .icon {
    padding: 10px;
    background: #eeeeff;
    border-radius: 5px;
  }
  .icon svg {
    fill: var(--blue);
  }
  
  .accordionButton .primaryText{
      font-size: 1.1rem;
  }
  
  @media (max-width: 1024px) {
      .v-container{
          flex-direction: column;
      }
  }
  
  @media (max-width: 768px) {
      .accordionButton .primaryText{
          font-size: .8rem;
      }
      .primaryTextValue{
        font-size: 1.3rem;
      }
      .orangeTextValue{
        font-size: 1.7rem;
      }
  }